<div class="fixed-bg">
   <div class="navbar-fixed">
      <nav>
       <div class="nav-wrapper">
         <ul class="right hide-on-med-and-down">
           <li><a href="#/"><i class="material-icons">more_vert</i></a></li>
         </ul>
       </div>
     </nav>
   </div>
   <div class="container blog">
      <div class="row">
         <div class="col s12 {{post.display}}" ng-repeat="post in posts" >
            <div class="card {{post.taille}}">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" ng-src="{{post.img}}">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">{{post.title}}<i class="material-icons right" style="margin-top:5px;">more_vert</i></span>
               </div>
               <div class="card-reveal">
                 <span class="card-title grey-text text-darken-4">{{post.title}}<i class="material-icons right" style="margin-top:5px;">close</i></span>
                 <p ng-bind-html="post.content | words: 20 | toHtml"></p>
                 <a ng-href='#/blog/{{post._id}}'class="waves-effect waves-teal btn-flat">See more</a>
               </div>
             </div>
         </div>
      </div>
   </div>
</div>

<section class="footer blue-grey lighten-4">
 <div class="container">
    <div class="row">
        <div class="col s12">
           <h2>Footer</h2>
        </div>
    </div>
 </div>
</section>
