<section id="accueil" class="accueil valign-wrapper">
  <div class="container valign">
     <div class="row ">
        <div class="col s12 ">
          <h2 class="center-align">Indoorpi</h2>
          <p class="flow-text center-align">
             A monitoring and interfacing system for your indoor cultures.
          </p>
        </div>
     </div>
  </div>
</section>

<section id="projet" class="projet">
  <div class="container">
     <div class="row">
        <div class="col s12">
           <h1 class="center-align">Projet</h1>
           <p class="flow-text center-align">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis magna id ullamcorper dignissim. Ut convallis ornare justo a scelerisque. In nisi quam, interdum eget accumsan non, placerat sit amet enim. Duis a facilisis lacus, in mollis velit. Nulla scelerisque, felis nec tristique consequat, dui velit ullamcorper libero, in tempor orci odio et elit. Pellentesque porta dolor non ex lobortis ornare. Phasellus ac interdum sapien. Sed vulputate augue erat. Vivamus fermentum nunc suscipit, tempus augue quis, volutpat massa. Suspendisse blandit rutrum iaculis. Mauris ut consectetur turpis. Praesent nec nunc elementum nunc congue egestas. In fringilla suscipit mauris, a rhoncus neque semper et. Morbi sed erat nulla.

   Maecenas dictum, velit vel commodo elementum, metus nisl sollicitudin eros, id tempor massa neque et velit. Ut dignissim neque lacus, vel volutpat libero mattis malesuada. Vestibulum risus ligula, hendrerit quis pulvinar vel, scelerisque eget leo. Suspendisse porta diam non mollis faucibus. Pellentesque varius felis sapien, id eleifend neque accumsan in. Vestibulum ultricies arcu eget sapien luctus efficitur. Donec diam diam, cursus et ex id, volutpat efficitur urna. Nullam in eros ut sapien pulvinar sagittis. Nam maximus nisl vel mi sodales, a malesuada ipsum pharetra.

   Mauris rhoncus ut tortor consequat sagittis. Praesent porta urna risus, quis fringilla ligula viverra vel. Nullam et mattis metus. Vestibulum egestas enim in enim lacinia malesuada. Suspendisse in turpis sapien. Curabitur luctus gravida nunc, eu porta nisi. Nulla posuere at dolor a porttitor. Nullam sed nulla quam. Suspendisse quam nulla, tempus id neque a, interdum molestie justo. Curabitur mattis fermentum pellentesque. In varius mauris et diam efficitur mollis a ut quam.
           </p>
        </div>
     </div>
  </div>

</section>

<section class="picture-separator valign-wrapper">
  <div class="content container valign">
    <div class="row">
       <div class="col s12">
          <h1 class="center-align  ">Best Qualidad you'll never had</h1>
       </div>
    </div>
  </div>
  <img src="assets/img/d.jpg" class="responsive-img" alt="" />

</section>

<section id="tmp" class="tmp">
  <div class="container">
     <div class="row">
        <div class="col s12">
           <h1 class="center-align">Bla Bla</h1>
           <p class="flow-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis magna id ullamcorper dignissim. Ut convallis ornare justo a scelerisque. In nisi quam, interdum eget accumsan non, placerat sit amet enim. Duis a facilisis lacus, in mollis velit. Nulla scelerisque, felis nec tristique consequat, dui velit ullamcorper libero, in tempor orci odio et elit. Pellentesque porta dolor non ex lobortis ornare. Phasellus ac interdum sapien. Sed vulputate augue erat. Vivamus fermentum nunc suscipit, tempus augue quis, volutpat massa. Suspendisse blandit rutrum iaculis. Mauris ut consectetur turpis. Praesent nec nunc elementum nunc congue egestas. In fringilla suscipit mauris, a rhoncus neque semper et. Morbi sed erat nulla.

   Maecenas dictum, velit vel commodo elementum, metus nisl sollicitudin eros, id tempor massa neque et velit. Ut dignissim neque lacus, vel volutpat libero mattis malesuada. Vestibulum risus ligula, hendrerit quis pulvinar vel, scelerisque eget leo. Suspendisse porta diam non mollis faucibus. Pellentesque varius felis sapien, id eleifend neque accumsan in. Vestibulum ultricies arcu eget sapien luctus efficitur. Donec diam diam, cursus et ex id, volutpat efficitur urna. Nullam in eros ut sapien pulvinar sagittis. Nam maximus nisl vel mi sodales, a malesuada ipsum pharetra.

   Mauris rhoncus ut tortor consequat sagittis. Praesent porta urna risus, quis fringilla ligula viverra vel. Nullam et mattis metus. Vestibulum egestas enim in enim lacinia malesuada. Suspendisse in turpis sapien. Curabitur luctus gravida nunc, eu porta nisi. Nulla posuere at dolor a porttitor. Nullam sed nulla quam. Suspendisse quam nulla, tempus id neque a, interdum molestie justo. Curabitur mattis fermentum pellentesque. In varius mauris et diam efficitur mollis a ut quam.
           </p>
        </div>
     </div>
  </div>
</section>

<section id="contact" class="contact">
  <div class="container">
     <div class="row">
       <h2 class="center-align">Contact</h2>
       <h5 class="center-align">Vous voulez être tenu au courant de l'avancement du projet  et peut-être être l'un des premiers heureux d'étendre du IndoorPi ?</h5>
       <form class="col s12" style="margin-top: 50px;">
         <div class="row">
           <div class="input-field col s12">
             <input mark id="email" ng-model="user.mail" class="validate mail">
             <label for="email" data-error="wrong"  data-success="right">{{mail}}</label>
           </div>
           <div class="col s12 center-align">
              <button class="btn waves-effect waves-light" ng-click="submit(user)">envoyer</button>
           </div>
         </div>
       </form>
     </div>
  </div>
</section>
